<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<configurationStrings>
		<add name="Cliente"
			 conectionString= "Data Source=LAPTOP-2QRMBO77\SQLEXPRESS;Initial Catalog=Empresa;Integrated Security=True "
			 providerName="Sytem.Data.SqlCliente"/>
	</configurationStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>